* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body.rtl {
  direction: rtl;
  text-align: right;
  size: 20px;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #ecf2f4;
  margin: 0;
  /* height: 100vh; */
}

#my-canvas {
  margin-right: 40px;
}

.lng {
  margin-left: 20px;
}

.nav {
  background-color: #4ccaf3;
  line-height: 80px;
  margin-bottom: 40px;
  width: 100%;
}

.main-nav-container {
  background-color: #25c1f3;
  width: 100%;
  margin-bottom: 40px;
}

.logo {
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: -0.8px;
  color: #005671;
}

.menu-btn {
  display: none;
}

.kw {
  border: none;
  box-shadow: inset 0 0 1px 0px #333;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 50px;
}
.kw:focus {
  outline: none;
}

.buttons-container {
  width: 100%;
  text-align: center;
  width: 600px;
  height: 600px;
  margin-left: -30px;
}

.fonts {
  height: 30px;
  width: 200px;
  margin-bottom: 40px;
  margin-right: 35px;
  border-radius: 8px;
}
.fonts:focus,
fonts:active {
  border: 1px solid #25c1f3;
  outline: none;
}
.buttons-container img {
  height: 70px;
  width: 70px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.ctrl-btn {
  height: 90px;
  width: 90px;
  margin-right: 10px;
}

button {
  width: 75px;
  height: 75px;
  text-align: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

label {
  margin-left: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.color {
  width: 63px;
  height: 63px;
}

.input {
  text-align: center;
}

.download {
  width: 63px;
  height: 63px;
}

.main-nav a {
  color: #ffffff;
  text-transform: capitalize;
  width: 131px;
  text-align: center;
  display: block;
  height: 80px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.main-nav a:hover {
  color: white;
  border-color: white;
  border-bottom: 4px solid #ecf2f4;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-containter {
  display: flex;
  margin: 10px;
  flex-flow: column;
}

.meme-container {
  display: none;
  margin: 0 20px;
}

.line2 {
  display: none;
}

.inside {
  display: flex;
  margin: 0;
  justify-content: center;
}

.edit-container {
  margin-left: 20px;
  width: 100%;
  border: 1px black solid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(8, 5vw);
  gap: 10px;
  font-size: 30px;
  text-align: center;
}

.custom-select {
  margin-bottom: 20px;
}

.file-input {
  grid-column: 3/4;
}

footer {
  background-color: #25c1f3;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: #f8f8f9;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}
/* helpers */

.flex {
  display: flex;
  justify-content: center;
}

.align-baseline {
  align-items: baseline;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.direction-column {
  flex-direction: column;
}

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.buttonkw {
  background-color: #539eb7;
  text-transform:uppercase;
  border-radius: 6px;
  color: black;
  size: 40px;
  font-family: cursive;
  padding: inherit;
    margin-bottom: 20px;
  margin-right: 10px;
}
/**/

img {
  width: 100%;
  border: 2px #4f4e4e solid;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 10px;
  font-size: 30px;
  text-align: center;
}

#search {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}

.line1 {
  height: 40px;
  width: 400px;
  padding: 20px;
  text-align: center;
  margin-left: 100px;
  margin-bottom: 40px;
  border-radius: 7px;
}

@media (max-width: 980px) {
  .flex {
    align-items: baseline;
  }
  .menu-btn {
    display: block;
    width: 60px;
    height: 60px;
  }
  .nav {
    width: 100%;
    line-height: 60px;
  }
  .main-nav {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 60px;
    border-left: 1px solid #d2d2d2;
    min-width: 230px;
    transform: translate(0, -200%);
    transition: transform 0.8s, box-shadow 0.3s;
  }
  .menu-open .main-nav {
    position: fixed;
    transform: translate(0, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    background-color: #1d1d1d;
  }
  .main-nav > *:not(.temp) {
    margin-inline-end: 0;
    text-align: center;
  }
  .main-nav a {
    display: block;
    padding: 10px 0;
    width: 100%;
    background: lightblue;
  }
  .inside {
    /* height: 600px; */
  }
  .buttons-container {
    width: 400px;
    /* height: 500px; */
    margin-left: 0px;
    padding: 20px;
  }
  .buttons-container img {
    height: 55px;
    width: 54px;
  }
  #my-canvas {
    width: 500px;
    height: 500px;
  }
  .ctrl-btn {
    height: 65px;
    width: 65px;
  }
  .line1 {
    width: 350px;
    margin-left: 0px;
  }
}

@media (max-width: 850px) {
  .lng {
    margin-bottom: 30px;
  }
  .line1 {
    height: 40px;
    width: 300px;
    margin-left: 35px;
  }
  .nav {
    width: 100%;
    line-height: 40px;
  }
  .main-nav {
    top: 40px;
  }
  .main-nav a {
    display: block;
    padding: 10px 0;
    width: 100%;
    background: lightblue;
  }
  .inside {
    /* height: 400px; */
  }
  .buttons-container img {
    height: 45px;
    width: 45px;
  }
  .buttons-container {
    width: 300px;
    /* height: 500px; */
    margin-left: 0px;
    padding: 20px;
  }
  #my-canvas {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 720px) {
  /* .lng {
            margin-bottom: 60px;
        } */
  .inside {
    flex-direction: column;
    align-items: center;
  }
  #my-canvas {
    width: 430px;
    height: 430px;
    margin-top: 20px;
  }
  .meme-container {
    /* height: 100%; */
  }
  .canvas-container {
    margin-bottom: 50px;
  }
  .buttons-container {
    width: 100%;
    height: auto;
    padding: 0px;
    margin-right: 20px;
  }
  footer {
    font-size: 20px;
  }
}

@media (max-width: 510px) {
  .inside {
    justify-content: center;
  }
  #my-canvas {
    width: 300px;
    height: 300px;
  }
  .kw {
    width: 300px;
  }
}
